.container{
   
    color: black;  
    margin: auto;  
    text-align: center;
    display: block;

}

#login{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.log{
    background-color: white;
    color: black;
    padding:5px;
    margin:10px;
}

.container{
    margin:20px;
    padding:20px;
}

h2{
    color:yellow;
}